<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" (ngSubmit)="onEdit()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Precio</ion-label>
      <ion-input formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-input formControlName="category"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-input formControlName="image"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Activo</ion-label>
      <ion-checkbox slot="start" formControlName="active"></ion-checkbox>
    </ion-item>
      <ion-input formControlName="_id" type="hidden"></ion-input>

    <ion-button type="submit">Enviar</ion-button>
  </form>
</ion-content>
