// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{

    //principal
    --ion-color-principal: #69bb7b;
	--ion-color-principal-rgb: 105,187,123;
	--ion-color-principal-contrast: #000000;
	--ion-color-principal-contrast-rgb: 0,0,0;
	--ion-color-principal-shade: #5ca56c;
	--ion-color-principal-tint: #78c288;

}

